fastapi
uvicorn
tinydb
pydantic[email]
python-multipart
pymupdf
jinja2
google-cloud-aiplatform
openai
python-dotenv
google-api-python-client
streamlit
tenacity
pydantic-settings
python-docx
litellm
firebase-admin
email-validator