# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Proguard
android/app/proguard-rules.pro

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/src/main/assets/

# Android Local properties
android/local.properties

# Android Secrets Gradle Plugin
android/secrets.gradle

# Android key store
*.jks
*.keystore
*.key
*.p12

# iOS/XCode
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/*.xcuserdatad/
ios/*.xccheckout
ios/pods-debug.xcconfig
ios/pods-release.xcconfig
ios/pods-profile.xcconfig

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Windows
windows/flutter/ephemeral/
